/* .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} */

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: 60px;
    justify-content: center;
}